.dashboard-header {
    background-color: #1976d2;
    color: white;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 10px 20px	;
    width: 700px;
    margin-top: 20px;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-header h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.welcome-message {
    font-size: 1.1rem;
}

.welcome-message p {
    margin: 0;
}

.logout-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.logout-button:hover {
    background-color: white;
    color: #1976d2;
} 